A {
    COLOR: #000080;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
A:hover {
    COLOR: #cc0000;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    TEXT-DECORATION: underline
}
A:active {
    COLOR: #cc0000;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    TEXT-DECORATION: underline
}
BODY {
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 12pt
}
TD {
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 12pt
}
P {
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 12pt
}
FONT {
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 12pt
}
